body {
  background: rgb(235, 235, 235);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  background: rgb(50, 50, 50);
  display: inline-block;
  color: rgb(226, 226, 226);
  font-size:18pt;
  font-style: italic;
}
header h1 {
  margin: 0.4em;
}
header h1::selection {
  background: rgb(75, 7, 107);
  color: rgb(255, 255, 255);
}

nav {
  background: rgb(120, 120, 120);
}
nav ul {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0;
}
nav li {
  list-style: none;
  padding-bottom: 0;
  padding-left: 3.5em;
  padding-right: 3.5em;
  display: inline-block;
  font-size: 14pt;
}
nav a {
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
}
nav a:hover {
  color:rgb(250, 5, 5);
}

section {
  height: 420px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgb(20, 20, 20);
  display: inline-block;
  color: rgb(220, 220, 220);
  font-size:12pt;
}
footer p::selection {
  background: rgb(255, 255, 255);
}